@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/*font-family: 'Pacifico', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/*font-family: 'Indie Flower', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
/*font-family: 'Dancing Script', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
/*font-family: 'Sansita Swashed', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');
/*font-family: 'Peddana', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');
/*font-family: 'Merriweather', serif;*/
html{
  scroll-behavior: smooth;
}
body{
        background-image:url(../image/img.jpg);
        background-size:cover;
        background-position: center;
        background-color: #2C322E ;
        background-attachment: fixed;
    }

.container{ 
            width: 960px; 
            margin: 15 auto; 
            height: 200px; 
            overflow: auto; 
          }
.container [class*='box'] { 
                            width:200px; 
                            height:300px; 
                            float: left; 
                            margin-right: 30px; 
                          }
.container .box1 { 
                    background-color: #000000 ; 
                    color:#000000;
                    margin-right: 0; 
                    margin-left: 0; 
                    position: absolute; 
                    right: 150px; 
                    left:150px; 
                    width: 1000px; 
                    height:450px;  
                  }
.container .box2 {  
                    background-color: #000000 ; 
                    color:#FDFEFE;
                    margin-left:0;  
                    position: absolute; 
                    left:10px; 
                    width: 340px; 
                    height: 450px;   
                  }
/*.my-image{
            background-image: url(image/my image.jpg);
            height: 450px;
            width: 650px;
            overflow: auto;
            display: inline;
            float: left;
            vertical-align: bottom;
            position: absolute;
            left: 360px;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
          }*/
/*img{
      height: 450px;
      width: 650px;
      overflow: auto;
      display: inline;
      float: left;
      vertical-align: bottom;
      position: absolute;
      left: 360px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }*/
.my-image{
      height: 450px;
      width: 650px;
      overflow: auto;
      display: inline;
      float: left;
      vertical-align: bottom;
      position: absolute;
      left: 360px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
/*.design1{
         color:#FDFEFE;
         font-family: 'Sansita Swashed', cursive;
         font-size: 30px;
         } */ 
.content1{
              font-family: 'Sansita Swashed', cursive;
              font-size: 30px; 
            }
.content2{
            background-color: #000A04 ; 
            font-family: 'Peddana', serif; 
            word-spacing: 15px;
            font-size: 22px; 
          } 
/*.p{
    text-decoration: underline;
    text-decoration-color: yellow;
  }*/
/*.background1{
              height:390px;
              width:340px;
              overflow: auto;
              display:inline; 
              float:left; 
              vertical-align:bottom;
              position: absolute;  
            }*/
/*<img src="image/img9.jpg" alt="Shivam Kumar" class="backgtround1"> */                                                    
/*.container .box3{
                  background-color: #E13B16 ; 
                  color:#FDFEFE;
                  margin-left:0;
                  margin-right: 0;  
                  position: absolute; 
                  left:0px;
                  right:0px;
                  width: 340px; 
                  height: 369px;
                  top:80px;
                  right:0px;
                  background-color: #000A04 ; 
                  color:#000000;
                  margin-right: 0; 
                  margin-left: 0; 
                  position: absolute; 
                  right: 150px; 
                  left:150px; 
                  width: 1000px; 
                  height:450px; 
*/
/*.img9{
        height:369px;
        width:340px;
        object-fit: fill;
      }*/
.dot{
      background-color: #000000 ; 
      color:#45403F; 
      letter-spacing: 18px;
      font-size: 50px; 
      line-height: 0.9cm;
    }
.bottom-left {
                color:#FDFEFE;
                position: absolute;
                bottom: 8px;
                left: 350px;
                font-size:22px;
                color:#ffff00;
              }
.name1{
        font-size:39px;
        color: #ffff00;
      }
.name2{
         font-size:25px; 
      }
.mark1{
        background-color: #00ffff;
        color: black;
      }
/*2nd page*/
a{
   text-decoration: none;
   color: #FDFEFE ;
  }
a:active {
              background-color:#00ff00 ;
          }
a:hover {
          color: hotpink;

        } 
/* box2*/
.container .box3 { 
                    background-color: #F2F3F4 ; 
                    color:#000000;
                    margin-right: 0; 
                    margin-left: 0; 
                    position: absolute; 
                    right: 150px; 
                    left:150px; 
                    width: 1010; 
                    height:480px;  
                  }
.container .box4 {
                    background-color: #262627 ; 
                    color:#FDFEFE;
                    margin-left:0;  
                    position: absolute; 
                    left:40px; 
                    width: 240px; 
                    height: 270px;
                    /*box-shadow: 5px 5px #404043;*/
                  }                   
.img12{
      height: 270px;
      width: 240px;
      overflow: auto;
      display: inline;
      float: left;
      vertical-align: bottom;
      position: absolute;
      left:40px;
    }
.dot1{
        background-color: #F2F3F4  ; 
        color:#45403F; 
        letter-spacing:5px;
        font-size: 30px; 
        line-height: 0.4cm;
        float:right;
        right:30px;
      }
.container .box5 {  
                    background-color: #F2F3F4  ; 
                    color:#FDFEFE;
                    margin-right:0;  
                    position: absolute; 
                    right:50px; 
                    width: 550px; 
                    height: 340px;   
                  }
.container .box6 {  
                    background-color: #F2F3F4 ; 
                    color:#FDFEFE;
                    margin-left: :0;  
                    position: absolute; 
                    left:20px; 
                    width: 510px; 
                    height: 100px;  
                  }
.img11{
        height: 100px;
        width: 280px;
        overflow: auto;
        display: inline;
        float: left;
        vertical-align: bottom;
        position: absolute;
        left:230px; 
      }
.intro1{
          font-size:25px;
          color: #000000;
          margin-top:45px;
          margin-left:80px;
          line-height: 0.2cm;
        }
.intro2{
          font-size:40px;
          color: #000000;
          margin-left:39px;
          border: 0px solid #E6F015;
          text-decoration: line-through;
          text-decoration-color: #E6F015 ;
          text-decoration-style: double ;
        }
.container .box7 {  
                    background-color: #F2F3F4  ; 
                    color:#000000;
                    margin-right:0;  
                    position: absolute; 
                    right:20px; 
                    width: 550px; 
                    height: 200px;  
                    margin-top:90px; 
                    padding:20px;
                    line-height: 0.5cm;
                    font-family: 'Merriweather', serif;
                  }
/* box 3*/
.container .box8 { 
                    background-color: #FDFEFE ; 
                    color:#F2F3F4;
                    margin-right: 0; 
                    margin-left: 0; 
                    position: absolute; 
                    right: 150px; 
                    left:150px; 
                    width: 1010px; 
                    height:1000px;
                    margin-top:265px;  
                  }
.container .box9 {  
                    background-color: #FDFEFE  ; 
                    color:#FDFEFE;
                    margin-left: :0;  
                    position: absolute; 
                    left:100px; 
                    width: 810px; 
                    height: 100px; 
                    margin-top:100px; 
                  }       
.container .box10 {  
                    background-color: #FDFEFE ; 
                    color:#000000;
                    margin-right:0;  
                    position: absolute; 
                    right:94px; 
                    width: 800px; 
                    height: 700px;  
                    margin-top:200px; 
                    padding:8px;
                    line-height: 0.5cm;
                    font-family: 'Merriweather', serif;
                  } 
.work2{
        font-size:40px;
        color: #000000;
        margin-left:39px;
        border: 0px solid #E6F015;
        /*text-decoration: underline;
        text-decoration-color: #E6F015 ;
        text-decoration-style: solid ;*/
      }
.work3{
        font-size:25px;
        color: #000000;
        margin-right:0px;
        border: 0px solid #E6F015;
        text-decoration: overline;
        text-decoration-color: #0510F9  ;
        text-decoration-style: solid 10px ;
      }
.img13{
        height: 100px;
        width: 260px;
        overflow: auto;
        display: inline;
        float: left;
        vertical-align: bottom;
        position: absolute;
        left:550px;
      }
.img14{
        height: 100px;
        width: 260px;
        overflow: auto;
        display: inline;
        float: left;
        vertical-align: bottom;
        position: absolute;
        left:0px;
      }
/*.grid-container{
                  display: grid;
                  grid-gap: 50px;
                  grid-template-columns: auto auto auto;
                  background-color: #2196F3;
                  padding: 10px;
                  grid-column-start: 1;
                  grid-column-end: 3;
                  grid-row-start: 1;
                  grid-row-end: 3;
                }
.grid-item{
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
          }
.pic1{
        height: 50px;
        width: 100px;
        left:10px;
      }*/
.row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
      }
/* Create four equal columns that sits next to each other */
.column {
          flex: 25%;
          max-width: 23.5%;
          padding: 0 5px;
        }

.column img {
              margin-top: 8px;
              vertical-align: middle;
              width: 100%;
              box-shadow: 2px 2px 4px #000000;
            }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
                                        .column{
                                                  flex: 50%;
                                                  max-width: 50%;
                                                }
                                      }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
                                        .column{
                                                  flex: 100%;
                                                  max-width: 100%;
                                                }
                                      }
/* box 4*/
#blog{
  margin-top:1050;
}
.container .box11 { 
                    background-color: #109CE2  ; 
                    color:#000000;
                    margin-right: 0; 
                    margin-left: 0; 
                    position: absolute; 
                    right: 150px; 
                    left:150px; 
                    width: 1010; 
                    height:800px; 
                    /*margin-top:1050px;*/
                  }
/* body{
        background-image:url(image/img1.jpg);
        background-size:cover;
        background-position: center;
        background-color: #2C322E ;
    }*/
.container .box12 {  
                    background-color: #109CE2  ; 
                    color:#FDFEFE;
                    margin-left: :0;  
                    position: absolute; 
                    left:100px; 
                    width: 815px; 
                    height: 100px; 
                    margin-top:40px; 
                  }
.container .box13 {  
                    background-color: #109CE2   ; 
                    color:#000000;
                    margin-right:0;  
                    position: absolute; 
                    right:94px; 
                    width: 800px; 
                    height: 500px;  
                    margin-top:140px; 
                    padding:8px;
                    line-height: 0.5cm;
                    font-family: 'Merriweather', serif;
                  } 
.work5{
        font-size:25px;
        color: #000000;
        margin-left:39px;
        border: 0px solid #E6F015;
        /*text-decoration: underline;
        text-decoration-color: #E6F015 ;
        text-decoration-style: solid ;*/
      }
.blog1 {
          background-color: #E77A13 ;
          color: black;
          padding:3px;
        }
/*.bac15{
        height: 100px;
        width: 260px;
        overflow: auto;
        display: inline;
        float: left;
        vertical-align: bottom;
        position: absolute;
        left:550px;
      }
.bac14{
        height: 100px;
        width: 260px;
        overflow: auto;
        display: inline;
        float: left;
        vertical-align: bottom;
        position: absolute;
        left:0px;
      }
.bac16{
        height: 100px;
        width: 260px;
        overflow: auto;
        display: inline;
        float: left;
        vertical-align: bottom;
        position: absolute;
        left:0px;
      }*/
.work6{
        font-size:40px;
        color: #000000;
        margin-right:0px;
        border: 0px solid #E6F015;
        text-decoration: overline;
        text-decoration-color: #F5EA0A   ;
        text-decoration-style: solid 10px ;
      }
.row1 {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
      }
/* Create four equal columns that sits next to each other */
.column1 {
          flex: 25%;
          max-width: 32%;
          padding: 0 5px;
        }

.column1 img {
              margin-top: 8px;
              vertical-align: middle;
              width: 100%;
              box-shadow: 2px 2px 4px #000000;
            }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
                                        .column1{
                                                  flex: 50%;
                                                  max-width: 50%;
                                                }
                                      }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
                                        .column1{
                                                  flex: 100%;
                                                  max-width: 100%;
                                                }
                                      }
.bac13{
        height:600px;
      }
.bac12{
        height:280px;
      }
.bac17{
        height:145px;
      }
.bac9{
        height:580px;
      }

/* box 5*/
#contact{
  margin-top:600px;
  margin-bottom:200px;
}
.container .box14 { 
                    background-color: #000000  ; 
                    color:#000000;
                    margin-right: 0; 
                    margin-left: 0; 
                    position: absolute; 
                    right: 150px; 
                    left:150px; 
                    width: 1010; 
                    height:250px; 
                    /*margin-top:1630px;
                    margin-bottom:200px;*/
                  }
.container .box15 {  
                    background-color: #000000  ; 
                    color:#FDFEFE;
                    margin-left: :0;  
                    position: absolute; 
                    left:100px; 
                    width: 815px; 
                    height: 80px; 
                    margin-top:30px; 
                  }
.container .box16 {  
                    background-color: #000000 ; 
                    color:#000000;
                    margin-left: :0;  
                    position: absolute; 
                    left:50px; 
                    width: 270px; 
                    height: 20px; 
                    margin-top:150px; 
                    line-height: 0.5cm;
                    font-family: 'Merriweather', serif;
                  } 
.work8{
        font-size:25px;
        color: #FDFEFE;
        margin-left:0px;
        border: 0px solid #E6F015;
        /*text-decoration: underline;
        text-decoration-color: #E6F015 ;
        text-decoration-style: solid ;*/
      }
.contact1{
          background-color: #FFA07A ;
          color:#000000;
          padding:3px;
        }
.work9{
        font-size:40px;
        color: #F5F905;
        margin-right:0px;
        border: 0px solid #E6F015;
        /*text-decoration: overline;
        text-decoration-color: #F5EA0A   ;
        text-decoration-style: solid 10px ;*/
      }
.email-id{
            font-size:15px;
            color: #ffffff;
            margin-left:0px;
            padding:4px;
            margin-top:2px;
          }
.email-id:hover{
                  color:#ffffff;
                }
.container .box17 {  
                    background-color: #000000 ; 
                    color:#000000;
                    margin-left: :0;  
                    position: absolute; 
                    left:450px; 
                    width: 150px; 
                    height: 20px; 
                    margin-top:150px; 
                    line-height: 0.5cm;
                    font-family: 'Merriweather', serif;
                  } 
.container .box18 {  
                    background-color: #000000 ; 
                    color:#000000;
                    margin-right: :0;  
                    position: absolute; 
                    right:30px; 
                    width: 250px; 
                    height: 20px; 
                    margin-top:150px; 
                    line-height: 0.5cm;
                    font-family: 'Merriweather', serif;
                  } 
/*.container .box19 {  
                    background-color: #ffff00 ; 
                    color:#000000;
                    margin-right: :0;  
                    position: absolute; 
                    right:300px; 
                    width: 300px; 
                    height: 60px; 
                    margin-top:190px; 
                    line-height: 0.5cm;
                    font-family: 'Merriweather', serif;
                  }*/
.copy-right{
              background-color: #000000 ; 
              color:#ffffff;
              height:20px;
              width:800px;
              margin-top: 200px;
              margin-left: 120px;
            }